body
	overflow: hidden
.fp-section
	position: relative
	
.fp-table
	table-layout: fixed
	width: 100%
	display: table
	
.fp-tableCell
	display: table-cell
	vertical-align: middle
	width: 100%
	height: 100%

.section
	width: 100%
	padding: 0 15%
	text-align: center
	
	
	// overflow: hidden
// .parallaxParent 
// 	height: 100vh
// 	overflow: hidden
	
// .parallaxParent > * 
// 	// height: 200%
// 	position: relative
// 	// top: -40%


.fixed
	position: fixed
	

	
#navigation
	position: fixed
	z-index: 100
