.fourth-sec
	.img-block
		position: absolute
		height: 30%
		width: 100%
		top: 0
		left: 0
		background-image: url(../images/marketing.jpg)
		background-repeat: no-repeat
		background-size: cover
		background-position: center 
		
		.play
			position: absolute
			top: 50%
			left: 50%
			width: 20%
			height: auto
			margin-left: -10%
			margin-top: -10%
			cursor: pointer
	
	.text-content
		position: absolute
		width: 85%
		height: 100%
		left: 10%
		top: 30%
		text-align: left
		// transform: translate(-50%, -50%)	
	.arrow
		position: absolute
		bottom: 5%

@media screen and (min-width: 768px)
	.fourth-sec
		.img-block
			position: absolute
			height: 100%
			width: 50%
		
		.text-content
			position: absolute
			width: 30%
			height: auto
			left: 75%
			top: 50%
			text-align: left
			transform: translate(-50%, -50%)	
			h1
				font-size: 3rem

