.fourth-sec
	.img-block
		position: absolute
		height: 100%
		width: 50%
		top: 0
		left: 0
		background-image: url(http://placekitten.com/600/1000)
		background-repeat: no-repeat
		background-size: cover
		
		.play
			position: absolute
			top: 50%
			left: 50%
			width: 20%
			height: auto
			margin-left: -10%
			margin-top: -10%
			cursor: pointer
	
	.text-content
		position: absolute
		width: 30%
		height: 100%
		left: 75%
		top: 75%
		text-align: left
		transform: translate(-50%, -50%)	

