.second-sec
	.img-block
		position: relative
		width: 100%
		left: 0
		margin-top: 40px
		
		img
			width: 80%
			left: 10%
		.play
			position: absolute
			top: 50%
			left: 50%
			width: 20%
			height: auto
			margin-left: -10%
			margin-top: -10%
			cursor: pointer
	
	.text-content
		position: relative
		width: 100%
		text-align: left
		font-family: 'Gotham Book' 
		color: $text-gray
		margin-top: 20px
		margin-bottom: 70px 
		li
			span
				font-family: 'Gotham Bold'
				
		ul
			text-align: left
	.arrow
		position: absolute
		top: 97%
		left: 50%
		border-color: transparent transparent $text-gray $text-gray

@media screen and (min-width: 768px)
	.second-sec
		margin: 0
		.img-block
			position: absolute
			height: 100%
			width: 50%
			top: 0
			
			img
				position: absolute
				height: 50%
				width: auto
				left: 50%
				top: 50%
				transform: translate(-40%, -65%)
				
		
		.text-content
			position: absolute
			width: 45%
			height: auto
			left: 72%
			top: 50%
			text-align: left
			transform: translate(-50%, -50%)
			ul
				opacity: 0
				transform: translate(-20px, 0)
				transition: all 300ms ease-in 0.7s
				text-align: left
				margin-top: 0
			 
			h1
				font-size: 3rem
			p
				margin-bottom: 0
				&:nth-child(3)
					margin-top: 0
				
		&.active
			.text-content
				ul
					transform: translate(0,0)
					opacity: 1
		.arrow
			position: absolute
			top: 90%
			left: 25%
			border-color: transparent transparent $text-gray $text-gray


@media screen and (max-height: 768px) and (min-width: 768px)
	.second-sec
		.text-content
			width: 55%
			top: 45%
			// left: 40%
			// position: absolute
			transform: translate(-60%, -50%);

			p
				font-size: 14px
				line-height: 18px
			h1
				font-size: 2.35rem
				line-height: 3rem 
				margin-bottom: 0
		.img-block
			width: 40%
				
