.sixth-sec
	background-image: url(../images/are-you-ready-bg.jpg) 
	background-repeat: no-repeat
	background-size: cover 
	background-position: top
	
	.carousel
		display: none
		position: relative
		top: 5%
	
	.badges
		width: 100%
		// height: 240px
		left: 0
		position: relative
		top: 10%
		.badge
			padding: 1rem 0.5rem
			width: 9rem
			height: auto
		span
			color: $white
			font-size: 20px
	.fine-print
		color: $white
		font-family: 'Gotham Book'
		font-size: 12px  
			
	
	.button
		text-transform: uppercase
		text-align: center
		background-color: $blue
		border: transparent 1px solid
		padding: 1.5rem
		color: $white
		width: 100%
		font-family: 'Gotham Bold'
		position: relative
		cursor: pointer
		transition: all 300ms ease-in
		margin-bottom: 2rem
		
		margin-top: 80px 

		&:hover
			background-color: rgba(0,0,0,0.3)
			border: $white 1px solid
		
	footer
		bottom: 0
		position: relative
		
@media screen and (min-width: 768px)
	.sixth-sec
		.container
			height: 100%
			width: 100%
			position: relative 
		
		.button
			width: 40%
			left: 50%
			margin-left: -20%
			margin-top: 35%
			
			&:hover
				background-color: rgba(0,0,0,0.3)
				border: $white 1px solid
			
		
		.badges
			width: 126%
			left: 50%
			margin-left: -63%
			height: auto
			position: relative
			display: block
			justify-content: center
			top: auto
			margin-top: 80px
			align-items: flex-start
			margin-bottom: 20px
			.badge
				margin: 0 2rem
				width: 100px
				height: 110px
		
		.fine-print
			margin-bottom: -50px
			position: relative
		footer
			bottom: 0
			left: 0
			right: 0
			position: absolute
			// position: relative

@media screen and (min-width: 1024px) and (max-height: 768px)
	.sixth-sec
		.button
			margin-top: 20%
		.badges
			margin-top: 40px
			
@media screen and (min-width: 1440px)
	.sixth-sec
		.badges
			.badge
				width: 10rem
				height: auto
				padding: 0
