.third-sec
	margin-bottom: 160%
	background-color: $white
	.img-block
		position: absolute
		height: 30%
		width: 100%
		left: 0
		top: 0
		img
			// position: absolute
			margin-top: 15%
			height: 100%
			width: auto
	
	.text-content
		position: absolute
		width: 85%
		height: 75%
		margin-left: 10%
		left: 0
		top: 35%
		margin-top: 0
		text-align: left
		
		ul
			color: $text-gray
			font-family: 'Gotham Book' 
	.arrow
		position: absolute
		bottom: -85%
		left: 50%
		border-color: transparent transparent $text-gray $text-gray
@media screen and (min-width: 321px)
	.third-sec
		margin-bottom: 70%
		.arrow
			bottom: -31%
@media screen and (min-width: 360px) //galaxy S5
	.third-sec
		margin-bottom: 120%
		.arrow
			bottom: -72%
@media screen and (min-width: 375px) // iphone 6
	.third-sec
		margin-bottom: 105%
		.arrow
			bottom: -63%
//@media screen and (min-width: 414px) //iphone 6 plus

@media screen and (min-width: 768px)
	.third-sec
		margin: 0
		background-color: $white
		.text-content
			position: absolute
			width: 30%
			height: auto
			margin-left: 15%
			left: 0
			top: 50%
			// margin-top: 15%
			text-align: left
			line-height: 3rem 
			transform: translateY(-50%)	
			h1
				font-size: 3rem
				text-align: left

		.img-block
			position: absolute
			height: 100%
			width: 50%
			left: 50%
			top: 0
			img
				// position: absolute
				margin-top: 25%
				height: 80%
				width: auto
		
		.arrow
			position: absolute
			top: 90%
			left: 50%
			border-color: transparent transparent $text-gray $text-gray

@media screen and (max-height: 960px) and (min-width: 768px)
	.third-sec
		.text-content
			line-height: 2rem
			width: 40%
			margin-left: 8%
			
			h1
				line-height: 3rem
			p 
				line-height: 2.5rem
		.img-block
			img
				margin-left: 9%
			