.badges
	width: 80%
	left: 10%
	position: relative
	display: flex
	justify-content: center
	top: 4%
	.badge
		margin: 0 2rem
		width: 9rem
		
@media screen and (min-width: 768px)
	.badges
		top: 2%
		.badge
			width: 7rem
			margin: 0 1rem 