.line
	position: absolute
	top: 0
	z-index: -2
	height: 100%
	// left: 0
	stroke-dasharray: 1000
	stroke-dashoffset: 1000
	animation-iteration-count: 1
	transition: stroke-dashoffset 1.5s ease-in
	// stroke: $dark-gray
	stroke: #686868
	stroke-width: 1
	fill: none
	&-two
		top: 50%
		transition: stroke-dashoffset 1.5s ease-in 0.5s
	
	

.circle
	// stroke: $dark-gray
	stroke: #686868
	stroke-width: 1 
	fill: none
	stroke-dasharray: 1000
	stroke-dashoffset: 1000
	transform: rotate(-44deg)
	transform-origin: 50% 50%
	animation-iteration-count: 1
	transition: stroke-dashoffset 1.5s ease-in 0.7s
	
.text
	// stroke: $green
	stroke: #50ad3c
	font-family: 'Gotham Book'
	font-size: 16px
	transform: rotate(45deg)
	// transform-origin: 50% 50%
	
.divider
	// stroke: $green
	stroke: #50ad3c
	stroke-width: 8
	fill: none
	stroke-dasharray: 1000
	stroke-dashoffset: 1000
	transition: stroke-dashoffset 1.5s ease-in 0.7s

p, h1
	opacity: 0
	transform: translate(-20px, 0)
	transition: all 300ms ease-in 0.7s

h1
	font-family: 'Droid Serif'
	// color: $dark-gray
	color: #686868
	font-size: 50px 
p
	font-family: 'Gotham Book' 
	// color: $dark-gray
	color: #686868
	font-size: 16px
h3
	opacity: 0	 

.section	
	&.active
		.line, .circle, .divider
			stroke-dashoffset: 0
			stroke-dasharray: 1000
		p, h1, h3
			transform: translate(0,0)
			opacity: 1
		.date
			transform: translate(0,-1px)

.event
	background-color: #ffffff
	float: left

	width: 33%
	left: 8.5%	
